html {
    background-image: -webkit-gradient(linear, left bottom, left top, 
    color-stop(0.33, rgb(10, 22, 54)), color-stop(0.67, rgb(217, 227, 245)));
    background-image: -moz-linear-gradient(center bottom, 
    rgb(200, 207, 207) 33%, rgb(112, 112, 114) 65% );
    padding: 2px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

div#resume-content-box, div#soft-content {
    display: flex;
    flex-direction: column;
    background: url(/img/resume-gradient.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 3em;
    margin-top: 75px;
    line-height: 125%;
    padding: 50px;
    width: 75%;
    max-width: 900px;
    box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 
    0px 3px 0px #bbb, 0px 4px 0px #b9b9b9, 
    0px 5px 0px #aaa, 0px 6px 1px rgba(0,0,0,0.1), 
    0px 0px 5px rgba(0,0,0,0.1), 0px 1px 3px rgba(0,0,0,0.3), 
    0px 3px 5px rgba(0,0,0,0.2), -4px 8px 8px rgba(0,0,0,0.1), 
    -8px 16px 16px rgba(0,0,0,0.37), -16px 32px 32px rgba(0,0,0,0.25), 
    -32px 64px 64px rgba(0,0,0,0.25);
    margin-bottom: 75px;
}

section#section-1-name-sum {
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

div#experience h2, section#section-2-skills h2, h2#soft-h2 {
    color: #046164;
    margin-top: 30px;    
}

hr {
    border-radius: 50%;
    border-color: black;
    margin-top: -15px;
}
section#section-2-skills ul li {
    margin-left: -20px;
    padding-top: 3px;
}

h3 {
    margin-bottom: 3px;
    margin-top: 20px;
}

section#section-5-profX li {
    list-style-position: inside;
    text-indent: -1.4em;
    margin-left: 24px;
}

.download {
    text-transform: uppercase;
    width: 100%;
    --glow-color: rgb(176, 208, 255);
    --glow-spread-color: rgba(123, 165, 255, 0.781);
    --enhanced-glow-color: rgb(206, 223, 255);
    --btn-color: rgb(42, 54, 122);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
}
       
.download::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
       
.download:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
                0 0 4em 2em var(--glow-spread-color),
                inset 0 0 .75em .25em var(--glow-color);
}
       
.download:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 .5em .25em var(--glow-color);
}

.col {
    flex: 33.33%;
    height: 75px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

ul#col1 {
    padding-left:0
}

div#soft-content {
     display: flex;
     flex-direction: column;
}

.col li {
    display: flex;
    flex-direction: row;
    background-color:white;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 275px;
    height: 50px;
    display: block;
    border-radius: 1em;
    text-align: center; 
    font-weight: bold; 
    box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #c9c9c9, 
    0px 3px 0px #bbb, 0px 4px 0px #b9b9b9, 
    0px 5px 0px #aaa, 0px 6px 1px rgba(0,0,0,0.1), 
    0px 0px 5px rgba(0,0,0,0.1), 0px 1px 3px rgba(0,0,0,0.3), 
    0px 3px 5px rgba(0,0,0,0.2), -4px 8px 8px rgba(0,0,0,0.1), 
    -8px 16px 16px rgba(0,0,0,0.37), -16px 32px 32px rgba(0,0,0,0.25), 
    -32px 64px 64px rgba(0,0,0,0.25);        
}

.col#col1, .col#col2, .col#col3 {
    display: flex;
    flex-direction: row;
}

h3#interests {
    margin-top: 40px;
    margin-bottom: 10px;
}

div#interests ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 0px;
    list-style-position: inside;
    padding-left: 0px;
}

ul#interests li {
    list-style-position: inside;
    text-indent: -1.4em;
    margin-left: 24px;    
}



