html {
    background-image: -webkit-gradient(linear, left bottom, left top, 
    color-stop(0.33, rgb(10, 22, 54)), color-stop(0.67, rgb(217, 227, 245)));
    background-image: -moz-linear-gradient(center bottom, 
    rgb(200, 207, 207) 33%, rgb(112, 112, 114) 65% );
    padding: 2px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

img#portfolio {
    display: block;
    margin: auto;
    width: 75%;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/black-dunes.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 3em;
    text-decoration: none;
    font-weight: bold;
    line-height: 125%;
}

div.box {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 600px;
    height: 150px;
    background: rgb(10, 22, 54);
    color: #000;
    border-radius: 3em;
    color: white;
    margin: 40px;

    --glow-color: rgb(176, 208, 255);
    --glow-spread-color: rgba(123, 165, 255, 0.781);
    --enhanced-glow-color: rgb(206, 223, 255);
    --btn-color: rgb(0, 0, 0);
    border: .25em solid var(--glow-color);
    padding: 3em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 3em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 3em .25em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-bottom: 300px;
}

section#projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    text-transform: uppercase;
}

div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .6;
}
 
a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}

div.box::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
   
div.box:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 1em .25em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
}
   
div.box:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
}



